@using Pierre.Models;

<h1>Vendor Details:</h1>

<h2>Orders:</h2>
<ol>
  @foreach (Order order in @Model["orders"])
  {
    <li><a href="/vendors/@Model["vendor"].Id/orders/@order.Id">@order.Title</a></li>
  }
</ol>

<p><a href="/vendors/@Model["vendor"].Id/orders/new">Add a new Order</a></p>