<form action="/vendors/@Model.Id/orders" method="post">
  <label for="title">Order Title</label>
  <input id="title" name="title" type="text">
  <label for="description">Add a description for the Order</label>
  <input id="description" name="description" type="text">
  <label for="price">Order Price</label>
  <input id="price" name="price" type="number">
  <label for="date">Date created</label>
  <input id="date" name="date" type="date">
  <button type="submit">Place Order</button>
</form>